{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}

    <h1  align="center">Postari</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titlu</th>
                <th>Content</th>
                <th>Actiuni</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
                <td>
                    <a href="{{ path('app_post_show', {'id': post.id}) }}">Detalii</a>
                    <a href="{{ path('app_post_edit', {'id': post.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Nu exista inregistarri</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_post_new') }}">Postare noua</a>
{% endblock %}
